<div class="mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-8 gap-y-10 w-full max-w-6xl px-4 pb-10 items-center justify-items-center">

  <!-- البطاقة الأولى -->
  <div   data-aos="fade-up"
    data-aos-delay="100" class="flex flex-col justify-center items-center lg:col-span-4 w-full">
    <div class="relative w-full flex flex-col gap-5 max-w-sm">
      <div class="relative">
        <!-- الإطار الذهبي -->
        <div class="absolute -bottom-2 -left-2 w-full h-[80%] border border-yellow-400 rounded-2xl rounded-tl-[40%] rounded-br-[40%]"></div>
        <!-- الخلفية الزرقاء -->
        <div class="absolute bottom-0 w-full h-[75%] bg-[#02527D] rounded-2xl rounded-tl-[40%] rounded-br-[40%]"></div>
        <!-- الصورة -->
        <img src="assets/images/header45.png" alt="Person" class="relative w-[90%] mx-auto rounded-lg" />
      </div>
      <!-- النص -->
      <div class="text-center flex flex-col gap-2">
        <h2 class="text-[#02527D] font-bold text-lg">د. فؤاد عبد الكريم العبد الكريم</h2>
        <p class="text-[#FFD156] text-sm">رئيس مجلس الإدارة</p>
      </div>
    </div>
  </div>

  <!-- البطاقة الثانية -->
  <div   data-aos="fade-up"
    data-aos-delay="300" class="flex flex-col justify-center items-center lg:col-span-4 w-full">
    <div class="relative w-full flex flex-col gap-5 max-w-sm">
      <div class="relative">
        <div class="absolute -bottom-2 -left-2 w-full h-[80%] border border-yellow-400 rounded-2xl rounded-tl-[40%] rounded-br-[40%]"></div>
        <div class="absolute bottom-0 w-full h-[75%] bg-[#02527D] rounded-2xl rounded-tl-[40%] rounded-br-[40%]"></div>
        <img src="assets/images/header45.png" alt="Person" class="relative w-[90%] mx-auto rounded-lg" />
      </div>
      <div class="text-center flex flex-col gap-2">
        <h2 class="text-[#02527D] font-bold text-lg">د. فؤاد عبد الكريم العبد الكريم</h2>
        <p class="text-[#FFD156] text-sm">رئيس مجلس الإدارة</p>
      </div>
    </div>
  </div>

</div>
