<app-header-tanami description="تساهم مسك المهارات في تمكين الشباب من اكتشاف اهتماماتهم, تطوير مهاراتهم, صقل قدراتهم, وتخطيط مستقبلهم الوظيفي"  headerText="صمم وطوّر أفكارك" imageSrc="assets/images/header1.png"></app-header-tanami>

<app-about-header></app-about-header>
<app-about-home [about]="false"></app-about-home>
<section class="bg-gradient-to-r from-[#00679E] w-[85%] mx-auto to-[#006E75] text-white p-20 pb-28 my-10  rounded-tl-[50%]  rounded-2xl rounded-br-[50%]">
    <h2 class="relative w-fit p-4 text-3xl font-bold mx-auto pb-10 flex items-center justify-center" >
        <div class="absolute right-0 top-1">
            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H18C22.9706 0 27 4.02944 27 9V27L24.8682 9.94595C24.3576 5.86045 21.1396 2.64244 17.0541 2.13176L0 0Z" fill="#FFD156"/>
            </svg>
        </div>
      
        أهدافنا
    </h2>
      <div class="grid grid-cols-1 md:grid-cols-5  gap-6 w-[90%] mx-auto">
      <div class="   rounded-lg  ">
        <p class=" font-bold text-[#02527D] bg-white w-fit px-3 rounded-tl-[55%] rounded-lg rounded-br-[55%] py-1  m-1 ms-3 ">01</p>
        <p >تأسيس منظمات غير ربحية ووحدات عمل متخصصة </p>
      </div>
      <div class="   rounded-lg  ">
        <p class=" font-bold text-[#02527D] bg-white w-fit px-3 rounded-tl-[55%] rounded-lg rounded-br-[55%] py-1  m-1 ms-3 ">02</p>
        <p >تمكين الجمعيات الناشئة وتسريع اطلاق اعمالها  </p>
      </div>  <div class="   rounded-lg  ">
        <p class=" font-bold text-[#02527D] bg-white w-fit px-3 rounded-tl-[55%] rounded-lg rounded-br-[55%] py-1  m-1 ms-3 ">03</p>
        <p >دعم الافكار والمبادرات الريادية التنموية وتطويرها  </p>
      </div>  <div class="   rounded-lg  ">
        <p class=" font-bold text-[#02527D] bg-white w-fit px-3 rounded-tl-[55%] rounded-lg rounded-br-[55%] py-1  m-1 ms-3 ">04</p>
        <p >بناء نموذج عمل مؤسسي مبتكر للشركات الاستراتيجية  </p>
      </div>  <div class="   rounded-lg  ">
        <p class=" font-bold text-[#02527D] bg-white w-fit px-3 rounded-tl-[55%] rounded-lg rounded-br-[55%] py-1  m-1 ms-3 ">05</p>
        <p >تحقيق التميز المؤسسي </p>
      </div>  
    </div>
  </section>
  

<div class="pt-14">
    <div class="flex  items-center justify-center mb-5 relative w-fit mx-auto">
        <h1 class="text-3xl  text-[#02527D] relative">شركاء 
            <span class="font-bold">
                النجاح
            </span>    
        </h1>
        <div class="bg-[#134957] h-3.5 rounded-sm w-3.5 absolute -top-7 -right-2"></div>
        <div class="border-[#134957] border h-3.5 rounded-sm w-3.5 absolute -top-6 -right-1"></div>
      </div>
    <app-carousel 
    [products]="myProducts" 
    containerWidth="w-[85%]"
    [numVisible]="5" 
    [showArrows]="true">
</app-carousel>
</div>
<app-highlighted-numbers></app-highlighted-numbers>

<div class="pt-14">
    <div class="flex  items-center justify-center mb-5 relative w-fit mx-auto">
        <h1 class="text-3xl  text-[#02527D] relative">عملائنا 
           
        </h1>
        <div class="bg-[#134957] h-3.5 rounded-sm w-3.5 absolute -top-7 -right-2"></div>
        <div class="border-[#134957] border h-3.5 rounded-sm w-3.5 absolute -top-6 -right-1"></div>
      </div>
    <app-carousel 
    [products]="myProducts" 
    containerWidth="w-[85%]"
    [numVisible]="5" 
    [showArrows]="true">
</app-carousel>
</div>