<div class="bg-white py-16 ">
    <div class="mx-auto grid grid-cols-12  items-center">
      <!-- Left Column: Phone Image -->
      <div class="col-span-6 flex flex-col  justify-center gap-2 relative w-full">
        <h1 class="text-center text-[#02527D] flex justify-center items-center gap-2">
            
                الملف التعريفي
                <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8 0H10.75V4.44L12.82 2.37C12.97 2.22 13.16 2.15 13.35 2.15C13.54 2.15 13.73 2.22 13.88 2.37C14.17 2.66 14.17 3.14 13.88 3.43L10.53 6.78C10.24 7.07 9.76 7.07 9.47 6.78L6.12 3.43C5.83 3.14 5.83 2.66 6.12 2.37C6.41 2.08 6.89 2.08 7.18 2.37L9.25 4.44V0H5.2C2 0 0 2 0 5.2V7.79C0 11 2 13 5.2 13H14.79C17.99 13 19.99 11 19.99 7.8V5.2C20 2 18 0 14.8 0Z" fill="#02527D"/>
                    </svg>
            </h1>
        <img src="assets/images/phonne.png" alt="Phone" class="w-[70%] mx-auto" />
        
    
      </div>
      
      <!-- Right Column: Text -->
      <div class="col-span-6 text-left  flex flex-col gap-2 ">
     
        

        <h1 class=" w-[85%] ">
            <app-section-title mainText="مميزات" secondaryText="تنامي" [showRightDecoration]="true" [mainheader]="true" marignAuto="ms-auto"></app-section-title>
        </h1>
        <div class="p-5" style="background: linear-gradient(to left, #EFEFEF00, #02527D2E);">
            <p class="text-md text-right text-gray-700  max-w-lg mx-auto">
              اول مسرعة اعمال للمنظمات غير الربحية والتي تهدف الى تسريع اعمال الجمعيات
              الخيرية و التي تهدف الى تحسين المجتمع العربي.
            </p>
          </div>
        <div class="p-8" style="background: linear-gradient(to left, #EFEFEF00, #02527D2E);">
            <p class="text-md text-right text-gray-700  max-w-lg mx-auto">
                جمعية متخصصة تسعي الي تطوير القطاع غير الربحي وتمكينه عبر مبادرات مبتكرة وعمل مؤسسي جاذب وبناء شرامات مستدامةحمعية متخصصة تسعي الي تطوير القطاع غير الربحي وتمكينه عبر مبادرات مبتكرة وعمل مؤسسي جاذب وبناء شرامات مستدامة
            </p>
          </div>
        <div class="p-8" style="background: linear-gradient(to left, #EFEFEF00, #02527D2E);">
            <p class="text-md text-right text-gray-700  max-w-lg mx-auto">
                اول مسرعة اعمال للمنظمات غير الربحية والتي تهدف الي تسريع اعمال الجمعيات الناشئة 
            </p>
          </div>
        <div class="p-8" style="background: linear-gradient(to left, #EFEFEF00, #02527D2E);">
            <p class="text-md text-right text-gray-700  max-w-lg mx-auto">
                جمعية متخصصة تسعي الي تطوير القطاع غير الربحي وتمكينه عبر مبادرات مبتكرة وعمل مؤسسي جاذب وبناء شرامات مستدامةحمعية متخصصة تسعي الي تطوير القطاع غير الربحي وتمكينه عبر مبادرات مبتكرة وعمل مؤسسي جاذب وبناء شرامات مستدامة            </p>
          </div>
  
   
      </div>
    </div>
  </div>
  