<div class="bg-white py-16 overflow-hidden">
  <div class="mx-auto grid grid-cols-1 md:grid-cols-12 gap-8 items-center">

    <!-- Left Column: Phone Image -->
    <div class="md:col-span-6 flex flex-col justify-center gap-4 relative w-full">
      <h1 data-aos="fade-down" data-aos-duration="1000" class="text-center text-[#02527D] flex justify-center items-center gap-2 text-lg sm:text-xl md:text-2xl">
        الملف التعريفي
        <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.8 0H10.75V4.44L12.82 2.37C12.97 2.22 13.16 2.15 13.35 2.15C13.54 2.15 13.73 2.22 13.88 2.37C14.17 2.66 14.17 3.14 13.88 3.43L10.53 6.78C10.24 7.07 9.76 7.07 9.47 6.78L6.12 3.43C5.83 3.14 5.83 2.66 6.12 2.37C6.41 2.08 6.89 2.08 7.18 2.37L9.25 4.44V0H5.2C2 0 0 2 0 5.2V7.79C0 11 2 13 5.2 13H14.79C17.99 13 19.99 11 19.99 7.8V5.2C20 2 18 0 14.8 0Z" fill="#02527D"/>
        </svg>
      </h1>
      <img data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" src="assets/images/phonne.png" alt="Phone" class="w-[80%] sm:w-[70%] mx-auto" />
    </div>

    <!-- Right Column: Text -->
    <div class="md:col-span-6 text-right flex flex-col gap-4">
      <div class="w-full px-4 sm:px-8 lg:px-18" data-aos="fade-left" data-aos-duration="1000">
        <app-section-title
          mainText="مميزات"
          secondaryText="تنامي"
          [showRightDecoration]="true"
          [mainheader]="true"
          marignAuto="mx-auto md:mx-0 md:ms-auto">
        </app-section-title>
      </div>

      <div class="p-5 bg-gradient-to-l from-[#EFEFEF00] to-[#02527D2E] rounded-md"
           data-aos="fade-right" data-aos-delay="100">
        <p class="text-sm sm:text-[17px]  text-gray-700 max-w-lg mx-auto">
          اول مسرعة اعمال للمنظمات غير الربحية والتي تهدف الى تسريع اعمال الجمعيات الخيرية والتي تهدف الى تحسين المجتمع العربي.
        </p>
      </div>

      <div class="p-5 bg-gradient-to-l from-[#EFEFEF00] to-[#02527D2E] rounded-md"
           data-aos="fade-right" data-aos-delay="180">
        <p class="text-sm sm:text-[17px]  text-gray-700 max-w-lg mx-auto">
          جمعية متخصصة تسعي الي تطوير القطاع غير الربحي وتمكينه عبر مبادرات مبتكرة وعمل مؤسسي جاذب وبناء شراكات مستدامة.
        </p>
      </div>

      <div class="p-5 bg-gradient-to-l from-[#EFEFEF00] to-[#02527D2E] rounded-md"
           data-aos="fade-right" data-aos-delay="250">
        <p class="text-sm sm:text-[17px]  text-gray-700 max-w-lg mx-auto">
          اول مسرعة اعمال للمنظمات غير الربحية والتي تهدف الي تسريع اعمال الجمعيات الناشئة.
        </p>
      </div>

      <div class="p-5 bg-gradient-to-l from-[#EFEFEF00] to-[#02527D2E] rounded-md"
           data-aos="fade-right" data-aos-delay="350">
        <p class="text-sm sm:text-[17px]  text-gray-700 max-w-lg mx-auto">
          جمعية متخصصة تسعي الي تطوير القطاع غير الربحي وتمكينه عبر مبادرات مبتكرة وعمل مؤسسي جاذب وبناء شراكات مستدامة.
        </p>
      </div>
    </div>
  </div>
</div>
